* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mainOrange: #f15025;
  --mainWhite: rgb(255, 255, 255);
  --mainYellow: #d2aa5c;
}

body {
  font-family: 'Caveat', cursive;
  color: var(--mainOrange);
  background-color: var(--mainWhite);
}
